/target/ 
/.settings/ 
/*.project



/matrix-core/target/
/matrix-core/.settings/
/matrix-core/.project 
/matrix-core/.classpath

/matrix-quartz/target/
/matrix-quartz/.settings/
/matrix-quartz/.project 
/matrix-quartz/.classpath


/example-ui/target/
/example-ui/.settings/
/example-ui/.project 
/example-ui/.classpath
