/target/ 
/.settings/ 
/*.project



/matrix-core/target/
/matrix-core/.settings/
/matrix-core/.project 
/matrix-core/.classpath

/matrix-quartz/target/
/matrix-quartz/.settings/
/matrix-quartz/.project 
/matrix-quartz/.classpath


/example-ui/target/
/example-ui/.settings/
/example-ui/.project 
/example-ui/.classpath


/matrix-admin/target/
/matrix-admin/.settings/
/matrix-admin/.project 
/matrix-admin/.classpath


/power-api/target/
/power-api/.settings/
/power-api/.project 
/power-api/.classpath