<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcSysFunctionDao">

	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McSysFunction">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="mc_seller_company_id" property="mcSellerCompanyId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="seqnum" property="seqnum" jdbcType="INTEGER" />
		<result column="nav_type" property="navType" jdbcType="INTEGER" />
		<result column="style_class" property="styleClass" jdbcType="VARCHAR" />
		<result column="style_key" property="styleKey" jdbcType="VARCHAR" />
		<result column="func_url" property="funcUrl" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
		<result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="ele_type" property="eleType" jdbcType="VARCHAR" />
		<result column="ele_value" property="eleValue" jdbcType="VARCHAR" />  
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			managercenter.mc_sys_function
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	
	
	<resultMap id="findListMap" type="com.matrix.pojo.view.McSysFunctionView"> 
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="mc_seller_company_id" property="mcSellerCompanyId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="seqnum" property="seqnum" jdbcType="INTEGER" />
		<result column="nav_type" property="navType" jdbcType="INTEGER" />
		<result column="style_class" property="styleClass" jdbcType="VARCHAR" />
		<result column="style_key" property="styleKey" jdbcType="VARCHAR" />
		<result column="func_url" property="funcUrl" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
		<result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="ele_type" property="eleType" jdbcType="VARCHAR" />
		<result column="ele_value" property="eleValue" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findList" resultMap="findListMap" parameterType="com.matrix.pojo.entity.McSysFunction" >
	    select 
	    	* 
    	from 
    		managercenter.mc_sys_function 
   		where 
   			flag = #{flag , jdbcType=INTEGER} 
   		order by parent_id,seqnum
	</select>
	
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from managercenter.mc_sys_function where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.McSysFunction"  useGeneratedKeys="true" keyProperty="id">
		insert into managercenter.mc_sys_function
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mcSellerCompanyId != null">
				mc_seller_company_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="seqnum != null">
				seqnum,
			</if>
			<if test="navType != null">
				nav_type,
			</if>
			<if test="styleClass != null">
				style_class,
			</if>
			<if test="styleKey != null">
				style_key,
			</if>
			<if test="funcUrl != null">
				func_url,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="eleType != null">
				ele_type,
			</if>
			<if test="eleValue != null">
				ele_value,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="mcSellerCompanyId != null">
				#{mcSellerCompanyId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="seqnum != null">
				#{seqnum,jdbcType=INTEGER},
			</if>
			<if test="navType != null">
				#{navType,jdbcType=INTEGER},
			</if>
			<if test="styleClass != null">
				#{styleClass,jdbcType=VARCHAR},
			</if>
			<if test="styleKey != null">
				#{styleKey,jdbcType=VARCHAR},
			</if>
			<if test="funcUrl != null">
				#{funcUrl,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=INTEGER},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="eleType != null">
				#{eleType , jdbcType=VARCHAR},
			</if>
			<if test="eleValue != null">
				#{eleValue , jdbcType=VARCHAR}, 
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McSysFunction">
		update managercenter.mc_sys_function
		<set>
			<if test="mcSellerCompanyId != null">
				mc_seller_company_id = #{mcSellerCompanyId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="seqnum != null">
				seqnum = #{seqnum,jdbcType=INTEGER},
			</if>
			<if test="navType != null">
				nav_type = #{navType,jdbcType=INTEGER},
			</if>
			<if test="styleClass != null">
				style_class = #{styleClass,jdbcType=VARCHAR},
			</if>
			<if test="styleKey != null">
				style_key = #{styleKey,jdbcType=VARCHAR},
			</if>
			<if test="funcUrl != null">
				func_url = #{funcUrl,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=INTEGER},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="eleType != null">
				ele_type = #{eleType , jdbcType=VARCHAR},
			</if>
			<if test="eleValue != null">
				ele_value = #{eleValue , jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>















