<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcUserRoleDao">

	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McUserRole">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="mc_user_id" property="mcUserId" jdbcType="INTEGER" />
		<result column="mc_role_id" property="mcRoleId" jdbcType="INTEGER" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
		<result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			* 
		from 
			managercenter.mc_user_role
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByMcRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			* 
		from 
			managercenter.mc_user_role
		where 
			mc_role_id = #{mcRoleId , jdbcType=INTEGER}
	</select>
	
	<select id="selectByMcUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			* 
		from 
			managercenter.mc_user_role
		where 
			mc_user_id = #{mcUserId , jdbcType=INTEGER}
		and
			flag = 1
	</select>
	
	<select id="findList" resultMap="BaseResultMap" parameterType="com.matrix.pojo.entity.McUserRole">
		select
			* 
		from 
			managercenter.mc_user_role
		where 
			1 = 1  
			<if test="flag != null">
				and flag = #{flag , jdbcType=INTEGER} 
			</if>
	</select>
	
	
	<resultMap id="McUserRoleViewMap" type="com.matrix.pojo.view.McUserRoleView"></resultMap>
	<select id="userRoleFuncList" resultMap="McUserRoleViewMap" parameterType="com.matrix.pojo.dto.McUserRoleDto">
		select 
		  ur.id as id,
		  ur.mc_user_id as userId,
  		  ur.mc_role_id as roleId,
		  r.role_name as roleName,
		  r.role_desc as roleDesc,
		  ui.user_name as userName
		from
		  managercenter.`mc_user_role` ur left join managercenter.`mc_role` r on ur.mc_role_id = r.id left join managercenter.`mc_user_info` ui on ur.mc_user_id = ui.id
		where 
			r.flag = 1
		and
			ur.flag = 1
		order by ur.id desc
	</select>
	
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from managercenter.mc_user_role where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteByCondition" parameterType="com.matrix.pojo.dto.McUserRoleDto">
		delete from 
			managercenter.mc_user_role 
		where 
			mc_user_id = #{userId , jdbcType=INTEGER} 
		and 
			mc_role_id = #{mcRoleId , jdbcType=INTEGER} 
	</delete>
	
	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from 
			managercenter.mc_user_role 
		where 
			mc_user_id = #{userId , jdbcType=INTEGER} 
	</delete>
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.McUserRole">
		insert into managercenter.mc_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mcUserId != null">
				mc_user_id,
			</if>
			<if test="mcRoleId != null">
				mc_role_id,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="mcUserId != null">
				#{mcUserId,jdbcType=INTEGER},
			</if>
			<if test="mcRoleId != null">
				#{mcRoleId,jdbcType=INTEGER},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=INTEGER},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McUserRole">
		update managercenter.mc_user_role
		<set>
			<if test="mcUserId != null">
				mc_user_id = #{mcUserId,jdbcType=INTEGER},
			</if>
			<if test="mcRoleId != null">
				mc_role_id = #{mcRoleId,jdbcType=INTEGER},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=INTEGER},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>











