<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcArticleInfoDao">

	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McArticleInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="title_pic" property="titlePic" jdbcType="VARCHAR" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="author_id" property="authorId" jdbcType="VARCHAR" />
		<result column="editor" property="editor" jdbcType="VARCHAR" />
		<result column="editor_id" property="editorId" jdbcType="VARCHAR" />
		<result column="release_type" property="releaseType" jdbcType="CHAR" />
		<result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
		<result column="article_type_id" property="articleTypeId" jdbcType="INTEGER" />
		<result column="reader_count" property="readerCount" jdbcType="INTEGER" />
		<result column="thumbs_up_count" property="thumbsUpCount" jdbcType="INTEGER" />
		<result column="shar_count" property="sharCount" jdbcType="INTEGER" />
		<result column="top_type" property="topType" jdbcType="CHAR" />
		<result column="source_link" property="sourceLink" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="html_content" property="htmlContent" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			mediacenter.mc_article_info
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from mediacenter.mc_article_info where id = #{id,jdbcType=INTEGER}
	</delete>
	
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.McArticleInfo">
		insert into mediacenter.mc_article_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="titlePic != null">
				title_pic,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="editor != null">
				editor,
			</if>
			<if test="editorId != null">
				editor_id,
			</if>
			<if test="releaseType != null">
				release_type,
			</if>
			<if test="releaseTime != null">
				release_time,
			</if>
			<if test="articleTypeId != null">
				article_type_id,
			</if>
			<if test="readerCount != null">
				reader_count,
			</if>
			<if test="thumbsUpCount != null">
				thumbs_up_count,
			</if>
			<if test="sharCount != null">
				shar_count,
			</if>
			<if test="topType != null">
				top_type,
			</if>
			<if test="sourceLink != null">
				source_link,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="htmlContent != null">
				html_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="titlePic != null">
				#{titlePic,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="authorId != null">
				#{authorId,jdbcType=VARCHAR},
			</if>
			<if test="editor != null">
				#{editor,jdbcType=VARCHAR},
			</if>
			<if test="editorId != null">
				#{editorId,jdbcType=VARCHAR},
			</if>
			<if test="releaseType != null">
				#{releaseType,jdbcType=CHAR},
			</if>
			<if test="releaseTime != null">
				#{releaseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="articleTypeId != null">
				#{articleTypeId,jdbcType=INTEGER},
			</if>
			<if test="readerCount != null">
				#{readerCount,jdbcType=INTEGER},
			</if>
			<if test="thumbsUpCount != null">
				#{thumbsUpCount,jdbcType=INTEGER},
			</if>
			<if test="sharCount != null">
				#{sharCount,jdbcType=INTEGER},
			</if>
			<if test="topType != null">
				#{topType,jdbcType=CHAR},
			</if>
			<if test="sourceLink != null">
				#{sourceLink,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="htmlContent != null">
				#{htmlContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McArticleInfo">
		update mediacenter.mc_article_info
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="titlePic != null">
				title_pic = #{titlePic,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="authorId != null">
				author_id = #{authorId,jdbcType=VARCHAR},
			</if>
			<if test="editor != null">
				editor = #{editor,jdbcType=VARCHAR},
			</if>
			<if test="editorId != null">
				editor_id = #{editorId,jdbcType=VARCHAR},
			</if>
			<if test="releaseType != null">
				release_type = #{releaseType,jdbcType=CHAR},
			</if>
			<if test="releaseTime != null">
				release_time = #{releaseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="articleTypeId != null">
				article_type_id = #{articleTypeId,jdbcType=INTEGER},
			</if>
			<if test="readerCount != null">
				reader_count = #{readerCount,jdbcType=INTEGER},
			</if>
			<if test="thumbsUpCount != null">
				thumbs_up_count = #{thumbsUpCount,jdbcType=INTEGER},
			</if>
			<if test="sharCount != null">
				shar_count = #{sharCount,jdbcType=INTEGER},
			</if>
			<if test="topType != null">
				top_type = #{topType,jdbcType=CHAR},
			</if>
			<if test="sourceLink != null">
				source_link = #{sourceLink,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="htmlContent != null">
				html_content = #{htmlContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>








